<!-- forgot-password-card.component.html -->
<div class="container d-flex align-items-center justify-content-center">
  <p-toast></p-toast>
  <div class="card p-4 shadow-lg rounded-4" style="max-width: 450px; width: 100%">
    <div class="card-body">
      <h2 class="h4 fw-bold text-center mb-2">Forgot Password?</h2>

      <p class="text-center text-muted small mb-4">
        No problem. Enter your email and we'll send you a link to reset it.
      </p>

      <form [formGroup]="forgotPasswordForm">
        <div class="mb-3">
          <label for="email-forgot" class="form-label">Email Address</label>
          <input
            type="email"
            id="email-forgot"
            class="form-control"
            formControlName="email"
            name="email"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100 fw-bold py-2"
          [disabled]="forgotPasswordForm.invalid"
          (click)="forgotPassword()"
        >
          <ng-container *ngIf="!isLoading; else loadingSpinner">Send Reset Link</ng-container>
          <ng-template #loadingSpinner
            ><div class="spinner-grow spinner-border-sm text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div></ng-template
          >
        </button>
      </form>

      <p class="text-center small text-muted mt-4">
        Remembered it?
        <button
          class="btn btn-link fw-semibold text-decoration-underline"
          (click)="navigateToLogin()"
        >
          Back to Log In
        </button>
      </p>
    </div>
  </div>
</div>
