
.card {
  background-color: #ffffff;
}

.text-primary {
  color: #2a4a7c !important; 
}

.btn-primary {
  background-color: #2a4a7c !important;
  border-color: #2a4a7c !important;
}

.btn-primary:hover {
  background-color: #1f355c !important; 
}

.hover-primary:hover {
  color: #2a4a7c !important;
}
