
.btn-icon {
  border: none;
  background: transparent;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  z-index: 100; 
}
.password-input-group {
  position: relative;
}
