/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'primeicons/primeicons.css';
/* @import 'primeflex/primeflex.css'; */
.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; 
  padding: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.required::after{
  content:'*';
   margin-left:2px;
    color:#dc3545;
}