<p-toast></p-toast>
<div class="container d-flex align-items-center justify-content-center">
  <div class="card rounded-4 shadow-lg" style="max-width: 450px; width: 100%">
    <div class="card-body">
      <h3 class="card-title text-center fw-bold h3 mb-3 text-dark pt-2">Reset Your Password</h3>
      <form [formGroup]="passwordForm">
        <div class="form-group mb-3">
          <label for="token" class="form-label required fw-semibold">Token</label>
          <input
            id="token"
            type="text"
            class="form-control"
            formControlName="token"
            placeholder="Enter your reset token"
          />
          <div
            class="text-danger mt-1"
            style="font-size: 0.8rem"
            *ngIf="
              passwordForm.get('token')?.invalid &&
              (passwordForm.get('token')?.dirty || passwordForm.get('token')?.touched)
            "
          >
            <div *ngIf="passwordForm.get('token')?.errors?.['required']">Token is required</div>
          </div>
        </div>
        <!-- Email Field - Standard Bootstrap Input -->
        <div class="form-group mb-3">
          <label for="email-signup" class="form-label required fw-semibold">Email Address</label>
          <input
            id="email-signup"
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter your email"
          />
          <div
            class="text-danger mt-1"
            style="font-size: 0.8rem"
            *ngIf="
              passwordForm.get('email')?.invalid &&
              (passwordForm.get('email')?.dirty || passwordForm.get('email')?.touched)
            "
          >
            <div *ngIf="passwordForm.get('email')?.errors?.['required']">Email is required</div>
            <div *ngIf="passwordForm.get('email')?.errors?.['pattern']">Invalid Email Address</div>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
          <label for="password-signup" class="form-label required fw-semibold">Password</label>
          <div class="input-group input-class">
            <input
              id="password-signup"
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              formControlName="password"
              placeholder="Enter your password"
            />
            <button
              class="btn btn-outline-secondary btn-icon"
              type="button "
              (click)="toggleVisibility('password')"
              *ngIf="passwordForm.get('password')?.value.length > 0"
            >
              <!-- Show 'eye' icon when password is not visible -->
              <i class="pi pi-eye" *ngIf="!passwordVisible"></i>
              <!-- Show 'eye-slash' icon when password is visible -->
              <i class="pi pi-eye-slash" *ngIf="passwordVisible"></i>
            </button>
          </div>
          <div
            class="text-danger mt-1"
            style="font-size: 0.8rem"
            *ngIf="
              passwordForm.get('password')?.invalid &&
              (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)
            "
          >
            <div *ngIf="passwordForm.get('password')?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="passwordForm.get('password')?.errors?.['minlength']">
              Password must be 8 characters long or more!
            </div>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
          <label for="confirmPassword" class="form-label required fw-semibold"
            >Confirm Password</label
          >
          <div class="input-group input-class">
            <input
              id="confirmPassword"
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Confirm your password"
            />
            <button
              class="btn btn-outline-secondary btn-icon"
              type="button "
              (click)="toggleVisibility('password')"
              *ngIf="passwordForm.get('confirmPassword')?.value.length > 0"
            >
              <!-- Show 'eye' icon when password is not visible -->
              <i class="pi pi-eye" *ngIf="!passwordVisible"></i>
              <!-- Show 'eye-slash' icon when password is visible -->
              <i class="pi pi-eye-slash" *ngIf="passwordVisible"></i>
            </button>
          </div>
          <div
            class="text-danger mt-1"
            style="font-size: 0.8rem"
            *ngIf="
              passwordForm.get('confirmPassword')?.invalid &&
              (passwordForm.get('confirmPassword')?.dirty ||
                passwordForm.get('confirmPassword')?.touched)
            "
          >
            <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['minlength']">
              Password must be 8 characters long or more!
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100 py-2 fw-bold d-flex justify-content-center align-items-center"
          [disabled]="isLoading"
          (click)="onSubmit()"
        >
          <!--  ng-container to conditionally show text or spinner -->
          <ng-container *ngIf="!isLoading; else loadingSpinner"> Reset Password </ng-container>
          <!-- This template will be shown when isLoading is true -->
          <ng-template #loadingSpinner>
            <div class="spinner-grow spinner-border-sm text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </ng-template>
        </button>
      </form>
    </div>
  </div>
</div>
